.peopleMain {
  padding: 20px;

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0 !important;
    button {
      color: #ffe81f !important;
      &:hover {
        background: #f0e9a8;
        color: #000000 !important;
      }
      &.Mui-selected {
        background: #f0e9a8;
        color: #000000 !important;
      }
    }
  }

  table {
    -webkit-box-shadow: 7px 3px 5px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 3px 5px -4px rgba(0, 0, 0, 1);
    box-shadow: 7px 3px 5px -4px rgba(0, 0, 0, 1);
  }
}
